<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Siebog Multiagent Framework</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#Examples">Examples</a></li>
                <li><a target="_blank" href="https://github.com/gcvt/siebog/wiki">Documentation</a></li>
            </ul>
        </div>
    </div>
</nav>