<div class="modal-header">
    <h3 class="modal-title">Start new agent</h3>
</div>
<div class="modal-body">
    <label for="agentName">Runtime name for the new {{agent.ejbName}} agent?</label>
    <input id="agentName" ng-model="agentName" ng-keyup="keyFn($event)">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>